body{
    background: rgb(17, 85, 68);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background: rgba(224, 22, 22, 0.863);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);


}

select#flista {
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
#res img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}